@import url(https://fonts.googleapis.com/css?family=Inter:100,220,300,regular,500,600,700,800,900);

@tailwind base;

@layer base {
  * {
    font-family: "Inter";
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F8F9FC;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .shadow-glow {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  }

  .shadow-glow:hover {
    box-shadow: 0 0 22px #ffffff30,
      0 0 22px #ffffff30,
      0 0 22px #ffffff30,
      0 0 22px #ffffff30;
  }

  .wpp-glow {
    box-shadow: 0 0 0 0 #5AF1414d;
  }

  .wpp-glow:hover {
    box-shadow: 0 0 22px #5AF14170,
      0 0 22px #5AF14170,
      0 0 22px #5AF14170,
      0 0 22px #5AF14170;
  }

  .initial-position {
    opacity: 0;
    transform: translateX(0px);
  }

  .initial-position-Y {
    opacity: 0;
    transform: translateY(-50px);
  }

  .initial-position-X {
    opacity: 0;
    transform: translateX(-50px);
  }

  .appear {
    animation-name: appear;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
  }

  @keyframes appear {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .appear-from-top {
    animation-name: appear-from-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes appear-from-top {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .appear-from-left {
    animation-name: appear-from-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes appear-from-left {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .appear-from-right {
    animation-name: appear-from-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes appear-from-right {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

}

@tailwind components;
@tailwind utilities;